<html lang="en">
    <head>
        <title>Forgot Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% load static %}

        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <section class="first_section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="text_wrap text_center login_back">
                        <p>
                            hi {{ name }} please enter your newpassword 
                        </p>

                    </div>
                    <div class="login-wrap wrap">
                        <form action="/reset_password/MTE/{{ token }}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="label">username</label>
                                <input type="text" name="user" class="form-input" placeholder="Username"  value="{{ username }} "required>

                            </div>
                            <div class="mb-3">
                                <label for="password" class="label">passsword</label>
                                <input type="password" name="pass1" class="form-input" placeholder="Username" required>

                            </div>
                            <div class="mb-3">
                                <label for="password" class="label">passsword</label>
                                <input type="password" name="pass2" class="form-input" placeholder="Username" required>
                            </div>
                            <div class="form-group mb-6">
                                <button class="btn form-input btn-primary" type="submit">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>

</html>